html
    head
        script(src="/static/js/main.js")
        link(rel="stylesheet", type="text/css", href="/static/css/fritter.css")
        script.
            window.bootstrap = !{JSON.stringify(bootstrap)};
    body
        .content
